/*
page-gallery {


}*/

.blackborderimg { 
    border: 15px solid black;
    padding: 1px;
}

.blackborderimg-small { 
    border:solid 5vmin  #0a6666;
    border-bottom-color: #0a6664;
    border-left-color:  #0d6666;
    border-radius:2px;
    border-right-color: #066d6b;
    border-top-color:  #026d6b;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    padding:8vmin;
    position:relative;
    text-align:center;
    margin: auto;
    width: 60%;
    height: 60%
}

.blackborderimg-middle { 
    border:solid 5vmin  #0a6666;
    border-bottom-color: #0a6664;
    border-left-color:  #0d6666;
    border-radius:2px;
    border-right-color: #066d6b;
    border-top-color:  #026d6b;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    padding:8vmin;
    position:relative;
    text-align:center;
    margin: auto;
    width: 80%;
    height: 80%
}

.blackborderimg-large { 
    border:solid 5vmin  #0a6666;
    border-bottom-color: #0a6664;
    border-left-color:  #0d6666;
    border-radius:2px;
    border-right-color: #066d6b;
    border-top-color:  #026d6b;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    padding:8vmin;
    position:relative;
    text-align:center;
}

.yellowborderimg { 
    border: 15px solid yellow;
    padding: 1px;
}

.yellowborderimg-small { 
    background-color:#ddc;
    border:solid 5vmin  #7a4f2f;
    border-bottom-color: #704728;
    border-left-color:  #754a2a;
    border-radius:2px;
    border-right-color: #7a4a27;
    border-top-color:  #7f4a23;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    padding:8vmin;
    position:relative;
    margin: auto;
    width: 60%;
    height: 60%
}

.yellowborderimg-middle{ 
background-color:#ddc;
    border:solid 5vmin  #7a4f2f;
    border-bottom-color: #704728;
    border-left-color:  #754a2a;
    border-radius:2px;
    border-right-color: #7a4a27;
    border-top-color:  #7f4a23;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    padding:8vmin;
    position:relative;
    margin: auto;
    width: 80%;
    height: 80%
}

.yellowborderimg-large{ 
    background-color:#ddc;
    border:solid 5vmin  #855E41;
    border-bottom-color: #855E31;
    border-left-color:  #855E21;
    border-radius:2px;
    border-right-color: #855E14;
    border-top-color:  #855E05;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    padding:8vmin;
    position:relative;
    text-align:center;
    margin: auto;
}

.whiteborderimg-small{ 
    background-color:#ddc;
    border:solid 5vmin #eee;
    border-bottom-color:#fff;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    padding:8vmin;
    position:relative;
    text-align:center;
    margin: auto;
    width: 60%;
    height: 60%
}

.whiteborderimg-middle{ 
    background-color:#ddc;
    border:solid 5vmin #eee;
    border-bottom-color:#fff;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    padding:8vmin;
    position:relative;
    text-align:center;
    margin: auto;
    width: 80%;
    height: 80%
}

.whiteborderimg-large{ 
    background-color:#ddc;
    border:solid 5vmin #eee;
    border-bottom-color:#fff;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    padding:8vmin;
    position:relative;
    text-align:center;
    margin: auto;
}

.noborderimg { 
    border: 0px;
    padding: 0px;
    width: 80%;
    height: 80%
}
