/*
page-gallery {


}*/

.blackborderimg { 
    border: 15px solid black;
    padding: 1px;
}

.yellowborderimg { 
    border: 15px solid yellow;
    padding: 1px;
}

.whiteborderimg { 
    border: 15px solid white;
    padding: 1px;
}

.noborderimg { 
    border: 0px;
    padding: 0px;
}


